@using Rahnemun.BlogContracts
@model IEnumerable<PostViewModel>

@if (Model.Any())
{
    <div class="weblog list">
        <section class="container">
            <h2>وبلاگ رهنمون</h2>
            
            @foreach (var post in Model)
            {
                @Html.Partial("PostSnippet", post)
            }

            <a class="button default" title="مشاهده همه پستها" href="@(Url.Route<IBlogRoute>().Get(null))">مشاهده همه پستها</a>
        </section>
    </div>
}
