@model EmailViewModel

@{
    Layout = "<EmailLayout>";
}

@section ContentBody {
    <h2>@Model.FullName عزیز!</h2>

    <p style="margin-bottom: 30px">لطفاً برای تغییر کلمه عبور خود روی لینک زیر کلیک کنید:</p>
    <a style="text-align: center; background-color: #3989c9; color: #fff; padding: 15px 30px; border-radius: 5px; text-decoration: none; display: inline-block; margin-bottom: 30px" href="@Url.ConvertToAbsoluteUrl(Model.Url)" target="_blank" title="برای تغییر کلمه عبور خود کلیک کنید.">تغییر کلمه عبور</a>

    <p style="margin-bottom: 30px">چنانچه شما درخواست تغییر کلمه عبور خود را نداده اید نیازی نیست کاری انجام دهید.</p>
}