@model bool?

@{
    var errorClass = Html.CheckError("") ? " error" : "";
    var toggle = ViewData["Toggle"];
}

<div class="@("checkbox" + errorClass)">
    <label>
        @Html.CheckBox("", Model ?? false, toggle != null ? new { @class = "toggle-others", data_toggle = toggle } : null)
        من <a class="open-dialog" data-dialog="disclaimer;شرایط و قوانین رهنمون" href="#" title="برای ادامه شرایط و قوانین رهنمون را مطالعه کنید">شرایط و قوانین رهنمون</a> را مطالعه کرده و بندهای آن را می پذیرم.
    </label>
    @Html.WrappedValidationMessage("", new { @class = "validator" })
    <div class="quickview" id="disclaimer">
        <p>هرگونه فعالیت در سایت به معنای آگاه بودن و پذیرفتن شرایط و قوانین و همچنین نحوه استفاده از سرویس‌‏ها و خدمات رهنمون است. هر گونه تغییر در محتوای این صفحه با ذکر تاریخ همراه است. مطالعه این صفحه و آگاهی از آخرین تغییرات قوانین به عهده کاربر است و فعالیت در سایت پس از این تاریخ به منزله قبول مفاد آن خواهد بود.</p>
        <p>رهنمون این اختیار را دارد که در صورت هرگونه نقض قوانین بدون اطلاع قبلی در هر زمانی حساب کاربری شما را برای مدتی و یا همیشه معلق و یا حذف نماید.</p>
        <p>در صورت مشاهده هرگونه تخلف در هریک از موارد زیر، خواهشمند است مراتب را با ما از طریق صفحه ارتباط با ما یا ایمیل در میان بگذارید.</p>
        <h3>عمومی</h3>
        <p>رهنمون تابع قوانین جمهوری اسلامی ایران و قانون تجارت الکترونیک است و متعاقبا کاربر نیز موظف به رعایت این قوانین است.</p>
        <p>تمامی محتوای سایت اعم از متن، لوگوها، آیکن ها، تصاویر، کلیپ های صوتی و تصویری، فایل های قابل دانلود و کپی برداری، اسکریپت ها، نرم افزارها و یا تلفیقی از آن ها همگی متعلق به رهنمون است و هرگونه استفاده بدون کسب مجوز کتبی، حق پیگرد قانونی را برای رهنمون محفوظ می‏‌دارد.</p>
        <p>تمامی تماس‏های الکترونیک با رهنمون بصورت محرمانه نزد مدیریت وب سایت ثبت می‏گردد و هرگونه تهدید و اقدام به هک یا آسیب رساندن به وب سایت و کاربران آن، پیگرد قانونی خواهد داشت و منجر به بسته شدن حساب کاربری خاطیان خواهد گردید.</p>
        <p>رعایت اصول اخلاقی و شئونات روابط انسانی و احترام متقابل از وظایف تمامی کاربران است. در صورت استفاده از هرگونه مطلب، کلمات، متون و تصاویر غیر اخلاقی یا توهین به کاربران دیگر، حساب کاربری شخص بدون اطلاع قبلی مسدود می شود و رهنمون هیچگونه مسئولیتی در قبال تسویه مالی با وی نخواهد داشت.</p>
        <p>رهنمون به کلمه عبور کاربر دسترسی ندارد. مسئولیت حفظ و نگهداری کلمه عبور به عهده کاربر است و در صورت افشای آن رهنمون هیچ مسئولیتی را نخواهد پذیرفت.</p>
        <p>دسترسی به محتوای غیر مجاز یا وارد شدن به سایت با نام کاربری و کلمه عبوری که متعلق به شما نیست ممنوع است.</p>
        <p>انجام هر عملی که باعث خرابی سرور، اضافه بار یا خرابی سایت گردد جایز نبوده و پیگیرد قانونی دارد.</p>
        <p>کاربر مجاز به استفاده از ربات یا هر ابزار دیگری جهت جمع آوری اطلاعات سایت یا یافتن اطلاعات کاربران به هر طریق ممکن با هدف فروش، تغییر، تکثیر، نمایش و توزیع داده ها برای هرگونه استفاده عمومی و یا تجاری، نمی باشد.</p>
        <p>انجام تبلیغات یا استفاده از مضامین و محتوای مجرمانه در هر یک از بخش های سایت ممنوع و منجر به بسته شدن حساب کاربری خواهد گردید.</p>
        <p>استفاده افراد زیر 18 سال از خدمات سایت تنها در صورت حضور والدین در کنار ایشان بلامانع است. مسئولیت تمامی مشکلات احتمالی بر عهده والدین وی می باشد و هزینه های پرداخت شده توسط وی غیر قابل استرداد است.</p>
        <p>زمان یک جلسات مشاوره 45 دقیقه است که به صورت خودکار توسط سیستم بر اساس میزان فعالیت مشاور و مراجعه کننده محاسبه می شود.</p>
        <p>رهنمون محتوای جلسه مشاوره را محرمانه تلقی کرده و حق کنترل و نظارت را از خود سلب می نماید مگر در مواردی که با حکم قانونی مجبور باشد آن را در اختیار مراجع ذی‌صلاح قرار دهد و یا خود کاربر متقاضی بررسی محتوای جلسه باشد.</p>
        <p>مسئولیت درستی و صحت محتوای جلسه مشاوره تماما متوجه شخص ارسال کننده محتوا است و رهنمون هیچگونه مسئولیتی را در قبال آن نمی پذیرد.</p>
        <p>مرجع داوری در کلیه دعاوی و حل اختلافات کارشناسان رهنمون هستند و کاربر پس از اعلام رای حق اعتراض نخواهد داشت.</p>

        <h3>مشاور</h3>
        <p>مسئولیت صحت محتوای پروفایل به عهده مشاور است و مشاوران موظفند در صورت درخواست رهنمون نسبت به ارسال مدارک خواسته شده جهت احراز هویت ایشان اقدام نمایند، در غیر اینصورت این حق برای رهنمون محفوظ است که حساب کاربری ایشان را معلق یا حذف نماید.</p>
        <p>در طول جلسه مشاوره نمی بایست به مراجعه کننده در خواست ملاقات حضوری داده شود. در صورت تشخیص مشاور به جلسات حضوری لازم است تا صرفا مراجعه کننده را آگاه نماید. تصمیم گیری و انتخاب مشاور به منظور انجام مشاوره حضوری به عهده مراجعه کننده است.</p>
        <p>مشاور باید به ارزش ها و حساسیت های فرهنگی و مذهبی مشاوره گیرندگان توجه نموده و آن ها را محترم بشمارد و از ارائه هرگونه مشاوره که با موازین اخلاقی، اصول و مبانی دین مبین اسلام و قوانین جمهوری اسلامی ایران همخوانی ندارد خودداری نماید.</p>
        <p>مشاور اجازه تجویز هرگونه دارو غیر از دارو های بدون نیاز به نسخه را به مراجعه کننده ندارد.</p>
        <p>در مواردی که تشخیص بیماری نیاز به معاینه بالینی دارد مشاور اجازه اعلام تشخیص بیماری یا مشکل را به مراجعه کننده ندارد و باید از او بخواهد که به متخصص مربوطه مراجعه کند.</p>
        <p>مشاور موظف است در مدت زمان حداکثر 24 ساعت به مراجعه کننده پاسخ دهد. هرگونه تأخیر یا عدم پاسخگوئی به سوالات در مهلت اعلام شده مشمول بازپرداخت به نفع مراجعه کننده است.</p>
        <p>شکایت مراجعه کننده از کیفیت پاسخگویی مشاور- در صورت احراز صحت آن توسط کارشناسان رهنمون - به منزله لطمه به اعتبار سایت تلقی می شود و رهنمون این حق را برای خود محفوظ می دارد که در صورت تکرار آن نسبت به تعلیق یا حذف حساب کاربری مشاور اقدام نماید.</p>
        <p>مشاور باید در تمامی مراحل مشاوره با رویکرد تکریم ارباب رجوع با مشاوره گیرندگان تعامل نموده و از هرگونه اقدام یا گفتگویی که منجر به آسیب رابطه حرفه ای بین مشاور و مراجعه کننده می شود، خودداری کند.</p>

        <h3>مراجعه کننده</h3>
        <p>هرگونه پرسش خارج از موضوع گروه مشاوره انتخابی جایز نیست.</p>
        <p>مشاور کمک میکند تا مراجعه کننده نیازهای خود را مشخص نموده و راه حلی برای مسایل خود بیابد و توانایی تصمیم گیری در وی تسهیل شود، لذا هرگونه تصمیم گیری و اقدام به منظور حل چالش به عهده مراجعه کننده بوده و رهنمون این مسئولیت را از خود و مشاوران سلب می نماید.</p>
        <p>عدم ارسال پیام بیش از مدت یک هفته از سوی مراجعه کننده در هر جلسه مشاوره به منزله انصراف وی از ادامه جلسه تلقی می شود و جلسه مشاوره بصورت خودکار پایان می پذیرد.</p>
        <p>چنانچه جلسه پیش از زمان پایان آن بنا به درخواست مراجعه کننده یا به دلیل عدم فعالیت وی بیش از مدت یک هفته پایان پذیرد هزینه مدت زمان باقی مانده مسترد نخواهد شد.</p>

        <p><strong>نسخه 3 آذر ماه 1394</strong></p>
    </div>
</div>

