@using Rahnemun.EmailContracts
@model NewsletterSubscriptionWebPartModel

@{
    var page = Request.RawUrl;
    if (!String.IsNullOrEmpty(Model.PageTitle))
    {
        page = page + " (" + Model.PageTitle + ")";
    }
    page = Url.Encode(page);
}

<div id="mc_embed_signup">
    <form class="form-inline validate" action="//rahnemun.us11.list-manage.com/subscribe/post?u=3c38bf41d82872ac81eedddc2&amp;id=cc762d5ad8&PAGE=@page" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <fieldset>
            <legend>عضویت در خبرنامه</legend>

            <div class="form-group">
                <input class="form-control required email" type="email" name="EMAIL" id="mce-EMAIL" required="required" aria-required="true" placeholder="ایمیل خود را وارد نمایید">
                <span class="validator" title="title"></span>
            </div>

            <input class="button default" title="عضویت در خبرنامه" type="submit" value="عضویت" name="subscribe" id="mc-embedded-subscribe">

            @*<div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display: none"></div>
                <div class="response" id="mce-success-response" style="display: none"></div>
            </div>*@

            @*real people should not fill this in and expect good things - do not remove this or risk form bot signups*@
            <div style="position: absolute; right: -5000px;"><input type="text" name="b_3c38bf41d82872ac81eedddc2_cc762d5ad8" tabindex="-1" value=""></div>
        </fieldset>
    </form>
</div>