<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    
    <add key="Module:ModulesPath" value="'~/Modules'"/>
    <add key="Module:UninstallDeletedModules" value="false"/>
    <add key="Media:StoragePath" value="'~/Storage'"/>
    <add key="Media:AcceptableMediaTypes" value="[ 'image/jpeg', 'image/pjpeg', 'image/gif', 'image/png', 'image/x-png', 'application/pdf' ]"/>
    <add key="Media:UnsafeExtensions" value="[]"/>
    <add key="Localization:DefaultCulture" value="'fa-ir'"/>
    <add key="Routing:GetRouteUrl" value="'routes/get-route'"/>
    <add key="Membership:EnablePasswordRetrieval" value="false"/>
    <add key="Membership:EnablePasswordReset" value="true"/>
    <add key="Membership:RequiresUniqueEmail" value="true"/>
    <add key="Membership:MaxInvalidPasswordAttempts" value="5"/>
    <add key="Membership:PasswordAttemptWindow" value="10"/>
    <add key="Membership:PasswordFormat" value="1"/>
    <add key="Membership:PasswordHashAlgorithm" value="'SHA1'"/>
    <add key="Membership:MinRequiredPasswordLength" value="6"/>
    <add key="Membership:MinRequiredNonAlphanumericCharacters" value="0"/>
    <add key="Membership:PasswordStrengthRegularExpression" value=""/>
    <add key="Encryption:EncryptionAlgorithm" value="'AES'"/>
    <add key="Encryption:EncryptionKey" value="'SENSITIVE_INFO_HERE'"/>
    <add key="Encryption:HashAlgorithm" value="'HMACSHA256'"/>
    <add key="Encryption:HashKey" value="'SENSITIVE_INFO_HERE'"/>
    <add key="RahnemunUser:DelayToConfirmEmail" value="'07.00:00:00'"/>
    <add key="RahnemunUser:DelayToResetPassword" value="'01.00:00:00'"/>
    <add key="RahnemunEmail:NoReplyAddress" value="'noreply@rahnemun.com'"/>
    <add key="RahnemunEmail:SupportAddress" value="'support@rahnemun.com'"/>
    <add key="RahnemunEmail:DefaultSenderName" value="'رهنمون'"/>
    <add key="RahnemunEmail:MailChimpApiKey" value="'SENSITIVE_INFO_HERE'"/>
    <add key="RahnemunEmail:MailChimpListId" value="'SENSITIVE_INFO_HERE'"/>
    <add key="RahnemunStyle:ThemeName" value="'rahnemun'"/>
    <add key="RahnemunContact:TelNo" value="'+982144739951'"/>
    <add key="RahnemunContact:TelTitle" value="'‎(021)44739951'"/>
    <add key="RahnemunSession:WriteCoefficient" value="0.5"/>
    <add key="RahnemunSession:ReadCoefficient" value="0.0667"/>
    <add key="GoogleAnalytics:TrackingId" value="'SENSITIVE_INFO_HERE'"/>
    <add key="GoogleAnalytics:UserIdDimensionIndex" value="'1'"/>
    <add key="Facebook:AppId" value="'SENSITIVE_INFO_HERE'"/>
    <add key="Facebook:Admins" value="[]"/>
    <add key="Facebook:Page" value="'https://www.facebook.com/rahnemun'"/>
    <add key="Twitter:Username" value="'RahnemunCo'"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" executionTimeout="300" maxRequestLength="10240"/>
    <authentication mode="Forms">
      <forms loginUrl="~/account/login" timeout="2880"/>
    </authentication>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--dynamicCompressionBeforeCache should be false for DeferredRender to work properly-->
    <urlCompression doDynamicCompression="true"  doStaticCompression="true" dynamicCompressionBeforeCache="false" />
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="403"/>
      <error statusCode="403" path="403.htm" responseMode="File"/>
      <remove statusCode="404"/>
      <error statusCode="404" path="404.htm" responseMode="File"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="500.htm" responseMode="File"/>
    </httpErrors>
    <security>
      <requestFiltering>
        <!--<requestLimits maxAllowedContentLength="10485760" />-->
        <hiddenSegments>
          <add segment="Storage" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
 
  <connectionStrings>
    <add name="Framework" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=Rahnemun;Integrated Security=True"/>
    <add name="Rahnemun" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=Rahnemun;Integrated Security=True"/>
  </connectionStrings>
  
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="d:\maildrop\"/>
        <network host="192.168.1.100" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>