@model WelcomeEmailViewModel

@{
    Layout = "<EmailLayout>";
}

@section ContentBody {
    <h2>@Model.FullName عزیز!</h2>

    <p style="margin-bottom: 30px">شما با موفقیت مراحل استخدام در وب سایت رهنمون را به انجام رساندید.</p>
                
    <p style="margin-bottom: 30px">پرونده شما توسط کارشناسان رهنمون در اسرع وقت بررسی خواهد شد و پس از دریافت ایمیل استخدام، شما جزو مشاوران رهنمون خواهید بود</p>
}