<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>$(MSBuildThisFileDirectory)..\..\obj\Publish</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <BuildDependsOn><!-- Do not build Rahnemun.Web --></BuildDependsOn>
  </PropertyGroup>

  <Target Name="BuildSolution" BeforeTargets="PipelineCollectFilesPhase">
    <Exec Command='"$(MSBuildBinPath)\msbuild.exe" "$(MSBuildProjectDirectory)\..\Rahnemun.sln" /t:rebuild /p:Platform="Any CPU";Configuration=Release;OutDir="$(MSBuildProjectDirectory)\tempbin" /v:quiet' />
  </Target>
  
  <Target Name="CopyModulesFiles" BeforeTargets="CopyAllFilesToSingleFolderForPackage">
    <ItemGroup>
      <_ModulesFiles Include="$(MSBuildProjectDirectory)\Modules\**\Views\**\*;
                              $(MSBuildProjectDirectory)\Modules\**\Layouts\**\*;
                              $(MSBuildProjectDirectory)\Modules\**\Templates\**\*;
                              $(MSBuildProjectDirectory)\Modules\**\StyleSheets\**\*;
                              $(MSBuildProjectDirectory)\Modules\**\Scripts\**\*;
                              $(MSBuildProjectDirectory)\Modules\**\Images\**\*;
                              $(MSBuildProjectDirectory)\Modules\**\Fonts\**\*;
                              $(MSBuildProjectDirectory)\Modules\**\Web.config" />
      <FilesForPackagingFromProject Include="%(_ModulesFiles.Identity)">
        <DestinationRelativePath>Modules\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
    </ItemGroup>
  </Target>
  
  <Target Name="CopyBinFiles" BeforeTargets="CopyAllFilesToSingleFolderForPackage">
    <ItemGroup>
      <_BinFiles Include="$(MSBuildProjectDirectory)\tempbin\*.dll" Exclude="$(MSBuildProjectDirectory)\tempbin\Rahnemun.Database.dll"/>
      <FilesForPackagingFromProject Include="%(_BinFiles.Identity)">
        <DestinationRelativePath>bin\%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
    </ItemGroup>
  </Target>
  
  <Target Name="CleanBinFiles" AfterTargets="CopyAllFilesToSingleFolderForPackage">
    <RemoveDir Directories="$(MSBuildProjectDirectory)\tempbin\" />
  </Target>
</Project>